*/*.sw*
*.sw*
ansible/ubuntu-install-kubernetes-workers/files/kubeconfig
ansible/ubuntu-install-kubernetes-workers/vars/main.yml
ansible/ubuntu-install-kubernetes-control-plane/files/kubeconfig
ansible/ubuntu-install-kubernetes-control-plane/vars/main.yml